/* Fade */

.fade-in {
    animation: kf-fade-in 0.5s ease;
}

.fade-out {
    animation: kf-fade-out 0.5s ease;
}

@keyframes kf-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes kf-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Slide */

.up-in {
    animation: kf-up-in 0.5s linear 0s;
}

.up-out {
    animation: kf-up-out 0.5s linear 0s;
}

.down-in {
    animation: kf-down-in 0.5s linear 0s;
}

.down-out {
    animation: kf-down-out 0.5s linear 0s;
}

.right-in {
    animation: kf-right-in 0.5s linear 0s;
}

.right-out {
    animation: kf-right-out 0.5s linear 0s;
}

.left-in {
    animation: kf-left-in 0.5s linear 0s;
}

.left-out {
    animation: kf-left-out 0.5s linear 0s;
}

@keyframes kf-up-in {
    0% {
        visibility: 1;
        transform: translateY(56vw);
    }
    100% {
        visibility: 1;
        transform: translateY(0px);
    }
}

@keyframes kf-up-out {
    0% {
        visibility: 1;
        transform: translateY(0px);
    }
    100% {
        visibility: 0;
        transform: translateY(-56vw);
    }
}

@keyframes kf-down-in {
    0% {
        visibility: 1;
        transform: translateY(-56vw);
    }
    100% {
        visibility: 1;
        transform: translateY(0px);
    }
}

@keyframes kf-down-out {
    0% {
        visibility: 1;
        transform: translateY(0px);
    }
    100% {
        visibility: 0;
        transform: translateY(56vw);
    }
}

@keyframes kf-right-in {
    0% {
        visibility: 1;
        transform: translateX(-100vw);
    }
    100% {
        visibility: 1;
        transform: translateX(0px);
    }
}

@keyframes kf-right-out {
    0% {
        visibility: 1;
        transform: translateX(0px);
    }
    100% {
        visibility: 0;
        transform: translateX(100vw);
    }
}

@keyframes kf-left-in {
    0% {
        visibility: 1;
        transform: translateX(100vw);
    }
    100% {
        visibility: 1;
        transform: translateX(0px);
    }
}

@keyframes kf-left-out {
    0% {
        visibility: 1;
        transform: translateX(0px);
    }
    100% {
        visibility: 0;
        transform: translateX(-100vw);
    }
}
